[2019-07-23 01:33] abronkema opened #1 "[Admin] Manage Location List"
**Is your feature request related to a problem? Please describe.**
Logged in site `Admin` users should be able to manage the list of locations, currently used to define meeting locations, and used to specify an item's current assigned `location`.

**Describe the solution you'd like**
While `user` is logged in, has been assigned `admin` role, and is currently viewing the `manage locations` page, th

[2019-07-24 01:37] abronkema opened #2 "[Admin] Manage Membership Types"
**Is your feature request related to a problem? Please describe.**
Logged in site `Admin` users should have the ability to manage the different membership types/tiers for the group.

**Describe the solution you'd like**
While `user` is logged in, has been assigned `admin` role, and is currently viewing the `membership_types` page, the following should be available:

- [ ] A 3-column table view lis

[2019-07-26 13:25] cattywampus opened #4 "CRUD for Organization"
Add the basic capability to create/read/update/destroy and organization. Basic attributes can include:
* Organization Name
* Description
* ?

[2019-07-26 13:27] cattywampus opened #5 "CRUD for Location"
Add support for the basic concept of a Location. Attributes include:
* Name
* Organization (if/when issue #4 is completed)
* ???

[2019-07-26 13:28] cattywampus opened #6 "User registration and authentication"
Create a User model and use Devise to support allowing users to register themselves and sign in and sign out of the application.

[2019-07-26 13:29] #1 closed

[2019-07-26 13:29] #2 closed

[2019-07-26 13:31] cattywampus opened #7 "CRUD for Carriers"
Add the basic capability to support creating/reading/updating/and destroying a Carrier. Initial things we need to capture about a Carrier include:
* Item ID
* Name
* Manufacturer
* Model
* Color
* Size
* Location (association if Issue #5 is completed)
* Default Loan Length (standard = 30)
* ???

[2019-07-26 13:35] cattywampus opened #8 "CRUD for Category"
Add the basic capability to create/read/update/destroy categories. Category attributes include:
* Name
* Description
* Parent Category (association reference to itself)

[2019-07-26 13:40] cattywampus opened #10 "CRUD for MembershipTypes"
Add support for the create/read/update/destroy of a MembershipType. Attributes include:

* Name
* Fee
* Duration (time as a member covered by the fee)
* Maximum number of items checked out
* Description

[2019-07-26 13:58] Aliciawyse commented on #6
I'd like to snag this one. :-)

[2019-07-26 14:07] UnicodeRogue opened #11 "Readme minor edits"
First contribution to the repo, getting my feet wet with some quick grammar fixes

[2019-07-26 14:12] cattywampus opened #12 "Upload photos to a Carrier"
Allow a user to upload one or more pictures to a Carrier item in inventory so that it can be displayed in the inventory to users.

[2019-07-26 14:27] cattywampus opened #14 "Use Bootstrap for styling and layout"
Add the twitter bootstrap gem to our project and setup some basic styling and html structure in the application layout so the page is formatted. Here are the instructions for setting this up:

https://github.com/twbs/bootstrap-rubygem#a-ruby-on-rails

[2019-07-26 14:28] #11 closed

[2019-07-26 15:15] abronkema opened #16 "User Roles"
Role assignments for registered users should be created and assignable to user accounts:

`Admin`
`Volunteer`
`Member`
`User`

[2019-07-26 15:19] abronkema opened #17 "CRUD for User Agreements & Waivers"
Create text field inputs for managing the following two user agreements:

`Lending Library Agreement`
`Membership Application & Lending Library Agreement`

Existing text can be found in the following files:
[MAB Membership Application and Lending Library Agreement.pdf](https://github.com/rubyforgood/babywearing/files/3436344/MAB.Membership.Application.and.Lending.Library.Agreement.pdf)
[MAB Lendin

[2019-07-26 17:15] #14 closed

[2019-07-26 17:24] #6 closed

[2019-07-26 17:29] cattywampus commented on #16
I think we could either make `user` something that is a non-assigned role. Which means, maybe no rule needs to be assigned to a `user`.

`rolify` is a good gem that could help with this.

[2019-07-26 17:48] cattywampus opened #19 "Populate database seed file with carriers"
We need to build a database of carriers for our inventory. To help everyone with testing the web app let's seed the database with actual carrier data. We can export carriers from MyTurn and import it using the ruby seed file. Whoever takes this on - talk to me. I'll connect you with an export of what the stakeholder already has and we'll have to hash out some details like
* what fields to export a

[2019-07-26 18:20] abronkema opened #21 "Display Browseable Inventory"
A new inventory page is needed to view an organization's inventory.

When a user (registered or not) visits an inventory page for a specific organization, they should be able to view all inventory items within that organization.

- Grid of cards
- Each card contains:
-- Image (or default placeholder)
-- Name
-- Location
-- Status

Information for all items from #19

<img width="541" alt="MidAtlant

[2019-07-26 18:26] abronkema opened #22 "Inventory Page Search and Filter"
When viewing the inventory page (#21), a search bar should populate at the top, along with filter options.

- Users should be able to enter text into search input and view matching results based on:
-- Name
-- Manufacturer
-- Model

- Users should be able to filter by:
-- Location
-- Status
-- Category

Dependencies: #21 #19

[2019-07-26 18:36] abronkema opened #24 "Admin Show All Checked Out Items"
While logged in as Admin, allow user to quickly get to a table showing all items in that organization, with the ability to filter the view by status.

Table should show the following for each item in a 5-column layout:
- User item is checked-out to (Workflow not yet implemented)
- Item ID (clickable link to item's CRUD page (#7 ))
- Item Name (clickable link to item's CRUD page (#7 ))
- Item Locat

[2019-07-26 18:36] cattywampus commented on #8
Here are the current categories being used:
- Asian Inspired Carriers
  - Chuneis
  - Hmongs
  - Meh Dais / Bei Dais
  - Onbuhimos
  - Other Asian Inspired Carriers
  - Podaegis
- Buckle Carriers
  - Full Buckle Carriers
  - Half Bucket Carriers
  - Other Buckle Carriers
  - Reverse Half Buckle Carriers
  - Ring Waist Carriers
- Carrier Accessories & Other
- Other Baby Carriers
- Pouch Carriers
-

[2019-07-26 18:41] abronkema commented on #24
The data required to define `User item is checked-out` to will be added in column 1 once that workflow is complete.

[2019-07-26 18:41] #8 closed

[2019-07-26 18:49] abronkema opened #25 "Admin Show All Overdue Items"
While logged in as an Admin, users should have a way to quickly navigate to a list populating all item's in an organization that are currently checked out and overdue.

Table view
- User currently checked out (Workflow not yet implemented)
- User First Name
- User Last Name
- User Email (link mailto:<user email>)
- User Phone Number
- Checked-out Due Date
- Item ID
- Item Number
- Calculated Late

[2019-07-26 18:57] #4 closed

[2019-07-26 19:01] abronkema commented on #25
Blocked until check-out workflow in place

[2019-07-26 19:31] #5 closed

[2019-07-26 19:32] cattywampus opened #28 "Organizations should have Locations"
Now that the `organization` and `location` models exist, they should probably be related to each other. Let's add an association between the two models and make it so when a location is added it's joined to an organization.

[2019-07-26 19:57] abronkema opened #30 "User Registration - Add Fields to User Model"
Now that #18 is complete, add the following fields to the user model for new user registration (/sign_up).

`First Name`
`Last Name`
`Street Address`
`Address 2 (Apt, Suite, Floor, etc)`
`City`
`State`
`Postal Code`
`Phone Number`

[2019-07-26 19:58] cattywampus opened #31 "Users need to sign Agreements"
When a user becomes a member of an organization, they need to sign the agreements for that organization if they have any. Users should see a notification that there are agreements that are unsigned. Users should be able to navigate to the Agreement(s) to read them and then sign them by typing in their name or initials. When a user signs an agreement it should be tracked with what text they signed

[2019-07-26 20:02] abronkema opened #32 "User Registration - Send Registration Email Notification"
Once #30 is complete, on submitting user registration form, send an email confirmation to the user's registered email address.

- Email subject should be 'Babywearing Account Registration'
- Email body should (for now) contain the user's submitted information **excluding password**.

[2019-07-26 20:24] abronkema opened #33 "Admin/Volunteer - List All Users by Org"
Admins and Volunteers should be able to navigate to a view listing all registered users of any role.

In a 5-column table, list all registered users in the current Organization with the following fields:
- Last Name
- First Name
- Email Address (mailto: link)
- Phone Number
- Join Date (users `created_at`)

Sort order: Alphabetical by Last Name

[2019-07-26 20:28] abronkema opened #34 "Admin/Volunteer - Export Member List as CSV"
Dependency: #33

Add button to allow user to export the current table as a .csv file.

Possible reference: https://www.codementor.io/victor_hazbun/export-records-to-csv-files-ruby-on-rails-vda8323q0

[2019-07-26 21:03] abronkema opened #36 "CRUD for Fee Type and Amount"
Add basic capability for an Admin to create/edit/destroy `Fee Types` and `Amounts`

Existing fee types/amounts:

Cleaning Fee - $15
Late Fee - $1 (this fee will be assessed per day in the transaction workflow)
Membership Donation - $30
Second Carrier Addition - $5
Trial Membership - $10
Upgrade Membership (Single to Double) - $20
Upgrade Membership (Trial to Single) - $20

[2019-07-27 14:11] #7 closed

[2019-07-27 15:33] #10 closed

[2019-07-27 15:43] #28 closed

[2019-07-27 17:16] #30 closed

[2019-07-27 18:05] #16 closed

[2019-07-27 18:58] abronkema opened #47 "Landing Page"
- Add logo to top
- style log in form
- style registration form
- top navbar

[2019-07-27 19:46] #19 closed

[2019-07-27 20:15] abronkema opened #48 "Send Transaction Confirmation Email on Submit"
Once a transaction has been completed, send user an email noting the following:

-------
`Greeting`: Hello <name>,
`Subject`: Transaction receipt from MidAtlantic Babywearing
`Body`:

Check out these pointers...
https://www.youtube.com/watch?v=rfJvWBh7KPw
https://midatlanticbabywearing.org/babywearing-safety/
https://docs.google.com/document/d/1AxWPN7ACTVN76glH8wAllX5ggs2HwC0cwgBshJz_tnQ/edit?usp=

[2019-07-28 12:48] #17 closed

[2019-07-28 13:13] abronkema opened #49 "When Not Logged In - Display Browsable Inventory"
When someone visits the site and is not logged in:

- Display nav bar with a link to sign-up, a link to log-in and a link to the inventory
- Display all browsable inventory and filters from #21 and #22

![New Wireframe 1](https://user-images.githubusercontent.com/47750744/62007146-f9833300-b117-11e9-8ab1-ec82e3b9821a.png)

[2019-07-28 14:13] #12 closed

[2019-07-28 14:45] #36 closed

[2019-07-28 15:34] abronkema commented on #32
Current template:
[code]

[2019-07-28 15:59] #49 closed

[2019-07-28 16:00] abronkema commented on #49
This was a duplicate of an in-progress issue #21

[2019-07-28 16:16] #33 closed

[2019-07-28 16:21] abronkema opened #59 "Add Placeholder Image in Browsable Inventory"
If an item/carrier does not have an image uploaded, add a default placeholder image.

https://www.dropbox.com/s/nex4bv78v980irv/BABYWARING%20ICON.svg?dl=0

[2019-07-28 16:38] #31 closed

[2019-07-28 16:39] #21 closed

[2019-07-30 01:44] smurfik commented on #59
closed in #57

[2019-07-30 01:44] #59 closed

[2019-08-03 23:00] LizPrescott commented on #24
I got this one!

[2019-08-06 01:39] #34 closed

[2019-08-06 01:56] cattywampus commented on #47
Hi @NiquiCara! I was wondering if you had time to work on this issue? I'd be happy to pair with you remotely if you're interested.

[2019-08-06 02:00] abronkema opened #63 "Landing page should display browsable inventory"
The default landing page should display the following, based on authentication/organization:

- If user is authenticated and assigned to an organization, show that organization's inventory page.
- If user is not authenticated or not assigned to an organization, show a link to sign up for an organization (at this time it would only be MidAtlantic Babywearing but would expand to show other organizat

[2019-08-06 13:30] abronkema opened #64 "Item images in browsable inventory should be the same size"
See #59

All images (placeholder and uploaded) should be the same size.

- Each `item` (ie `/carriers/5/edit) has a photo upload option that is used for that specific item.

[2019-08-07 04:25] kaziski commented on #63
On the last day of R4G, @cattywampus verbally assigned me to put a sidebar on all pages and render index page as the main content when a link on the sidebar is clicked. I'm working on it and figured I'd work on this at the same time since it requires doing a similar thing.

[2019-08-07 15:14] abronkema commented on #63
Sounds good @codingmamakaz! Thanks

[2019-08-07 20:14] NiquiCara commented on #47
I haven't, and would greatly appreciate the opportunity to pair.

[2019-08-08 04:15] kaziski commented on #63
Does the browsable inventory belong to a specific organization? Won't there be more than one organization?  If so, how do we know which inventory to show to unauthenticated users? Can a user belong to only one organization?

I created the sidebar. I wasn't clear on how inventories are set up, so I pushed PR for the sidebar and working on this separately.

[2019-08-08 10:08] abronkema commented on #63
Yep! The browsable inventory belongs to an organization, and within that
organization there might be items at different locations, but they should
be viewable.

[2019-08-08 13:48] kaziski commented on #63
Ok, I’m sorry with all the questions. I’m a little confused.
Before a user logs in, should the page show the inventory of MidAtlantic Babywearing? or the page with a list of organizations they can click to view their inventories?
As for authenticated users, it doesn’t seem there are any associations between organization model and user model yet. Would the associations be User belongs to Organizati

[2019-08-08 14:35] abronkema commented on #63
No apologies needed! Thanks for the excellent follow-through and thoughtfulness.
1 - We haven't talked through the multi-tenant model (where there would be multiple organizations). I'll leave it up to @cattywampus but my thought is, for now, default to MAB's organization.
2 - You're correct - a user would belong to an organization (in this case, MAB). If the user is authenticated, they should see

[2019-08-18 20:52] Aliciawyse commented on #22
I'm gonna give this a shot this week!

[2019-08-19 20:06] #32 closed

[2019-09-17 17:44] abronkema commented on #47
Hey @NiquiCara - I can post in the Ruby for Good general and try to coordinate some pairing time. Is there anything in particular you're struggling with so I can try to prep anyone who's available?

[2019-09-23 15:56] abronkema opened #68 "Add App Setup Instructions to README"
Minor updates were last made in #11 , but app setup instructions need to be documented for new contributors.

- What steps need to be taken to get the application up and running?
- What versions of Ruby/Rails/Heroku/Postgres are needed?

Please be sure to include even the small/easy/nuanced information so that our project is as welcoming as possible.

[2019-09-30 22:37] pollygee commented on #63
@codingmamakaz are you still working on this?

[2019-10-01 00:55] kaziski commented on #63
@pollygee, I'd love to, but I've been very busy trying to finish my school. If anyone is interested in taking over, they should!

[2019-10-01 12:15] pollygee commented on #63
@codingmamakaz Yeah I totally get it!  We have a bunch of people coming in to help out, and we'll get some more from Hacktoberfest.  This is a high priority, so I'm going to take you off the issue in the hopes that we can get someone to pick it up.  We're trying to get to MVP as soon as possible so we can deploy and have something working for MAB.  We hope to see you back when you're finished with

[2019-10-01 12:22] kaziski commented on #63
Sounds good! Yes, I'm definitely planning on coming back to work on more stuff when I finish my final project :)

[2019-10-01 20:00] digilou commented on #64
@abronkema @pollygee Mind if I take a look at this to see if I can contribute?

[2019-10-01 23:07] pollygee commented on #64
That would be great, thanks!  Let me know if you run into any problems.  Feel free to join our slack channel as well if you want to chat to others who work on the project or just join our community!

[2019-10-02 00:39] digilou commented on #64
@pollygee I think the Slack channel sounds like a great idea. I have questions already! Where do I join?

[2019-10-02 00:43] pollygee opened #70 "Fix failing test"
**Describe the bug**
We have a failing test.

**To Reproduce**
Run the test in the file
`# ./spec/features/user_spec.rb:58:in`

**Expected behavior**
Seems we would expect to only get one email from `Devise` but we're getting two
`Expect(Devise.mailer.deliveries.count).to eq 1`  but we got 2

[2019-10-02 00:56] schattian commented on #70
I'm on it.

[2019-10-02 01:20] pollygee commented on #64
Our website - https://rubyforgood.org/ there's a link for slack invite at the top of the page - the #.  You can sign up there and then join the #babywearing channel.

[2019-10-02 01:21] pollygee commented on #70
Great thanks!!  I'll assign it to you so that nobody else picks it up.

[2019-10-02 01:23] schattian commented on #70
Well, currently I'm in trouble trying to run tests at local.
Executed:
`docker exec -it babywearing_db_1 psql -c 'create database babyweraing_test;' -h localhost -U postgres`

but getting:
`psql: FATAL:  role "postgres" does not exist`

You are following chained different steps to set up the test env?

[2019-10-02 01:52] pollygee commented on #70
I just submitted a PR with an update to the README with what I had to do to get it running locally just so there would be something there - maybe it will need updating.  I had to run:
`rails db:setup`
`rake db:migrate`

and you ran `bundle` first right? That's all I had to do.

[2019-10-02 02:00] #68 closed

[2019-10-02 02:12] schattian commented on #70
Oh, sorry, my fault. Trying to create the db through the container instead from rake.

[2019-10-02 15:14] pollygee opened #72 "Upgrade Nokogiri and Devise Gems"
**Is your feature request related to a problem? Please describe.**
According to Github, we have security vulnerabilities and we need to upgrade Devise to 4.7.1 or higher and Devise to 1.10.4

More details for Devise vulnerability
https://github.com/rubyforgood/babywearing/network/alert/Gemfile.lock/devise/open

More details for Nokogiri vulnerability
https://github.com/rubyforgood/babywearing/netw

[2019-10-02 17:53] #72 closed

[2019-10-03 01:29] LizPrescott commented on #63
I can do this.

[2019-10-03 01:38] LizPrescott commented on #63
Oh yep. I see the source of confusion here. When I, a user, first sign up for an account, I don't have an organization yet.....

[2019-10-03 01:46] LizPrescott commented on #63
Submitting a pr to add organization_id to the user table.

[2019-10-03 01:57] pollygee opened #75 "Seed data is breaking several show pages for a carrier"
**Describe the bug**
When navigating to certain show pages for carriers in the seed data, the page is broken and gives an error ` MiniMagick::Invalid in Carriers#show `

**To Reproduce**
Steps to reproduce the behavior:
Go to `/carriers/6` or `/carriers/19`

**Expected behavior**
We should see the information about the carrier corresponding to the seed data information.
I'm not sure why these coup

[2019-10-03 08:11] moriie commented on #75
Hi, I'm unable to reproduce the issue. :(
Both pages work for me - /carriers/6 as reference.

![work](https://user-images.githubusercontent.com/46545695/66109715-47db0500-e593-11e9-9e4e-1d0631863050.jpg)

[2019-10-03 11:27] pollygee commented on #75
Oh great!  Thanks so much.  I see that there is a photo on that page.  I didn't see any photos on other pages so maybe there's something I don't have installed to make that work.  Do you know what you have installed to make it work?  I can add it to the setup instructions if I can figure out what it is.

[2019-10-03 13:10] pollygee commented on #75
I figured it out!  I needed to install imagemagic with brew install imagemagick which broke lots of things but once I got things fixed it's working now.  I'll add to the setup instructions.  Thanks!

[2019-10-03 13:10] #75 closed

[2019-10-03 13:25] #70 closed

[2019-10-03 17:22] abronkema commented on #63
@LizPrescott did you want to take the remainder of the issue? If so, I'm happy to assign it to you!

[2019-10-03 20:58] LizPrescott commented on #63
Sure!

[2019-10-06 00:44] digilou opened #78 "User registration form: required fields aren't indicated"
**Describe the bug**
When signing up for the first time, I had not visual indication that all fields were required until I received a list of errors after clicking "Sign up". Visual users, as well as screen reader users are given no heads up that they need to fill it all in, even though we assume it makes sense.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Sign Up page.
2. Partially

[2019-10-06 15:14] pollygee commented on #78
Thank you @digilou!

[2019-10-06 17:58] enderahmetyurt commented on #78
@pollygee could you assign this issue to me?

[2019-10-06 19:11] pollygee commented on #78
Done!! Thanks so much!

[2019-10-08 13:20] abronkema opened #81 "Update Nav Bar Alignment"
The nav bar currently shows icons and font that is not correctly aligned/sized.

- Adjust sizing of the icons to be uniform
- Vertically center icons
- Adjust font size so that all text fits on a single line
- Align text along bottom of container
- Rename `INVENTORY` to `CARRIERS`

[2019-10-08 13:26] abronkema opened #82 "Update Nav Bar Links"
- `CREATE USER` should link to our sign up form and should only be visible to authenticated users who are VOLUNTEERS or ADMINS.
- `INVENTORY` will be renamed to `CARRIERS` in #81 and should link to the carrier listing.
- `Quick Access` should be updated to include a link to `Locations`

[2019-10-08 15:11] Rgaliant commented on #81
Hello, I would love to give this a try. I should be able to make a PR by end of day or will comment again if I run into a block.

[2019-10-08 20:46] abronkema commented on #63
@LizPrescott - I've updated the issue a bit to clarify the organization concern. Please let me know if you have any concerns with the change.

[2019-10-08 20:52] abronkema opened #86 "List carriers by category in /categories"
When accessing `/categories`, each different carrier category has an option to "Show".

When clicking that link and accessing that category, all carriers assigned to that category should be displayed.

Example, when on `/categories` and clicking Show for `Ring Slings`, I'm taken to `/categories/18`, but nothing other than the category name are displayed. Instead, this should show me all carriers t

[2019-10-09 02:29] luizpicolo commented on #82
👍

[2019-10-09 13:51] Drew-Goddyn commented on #86
@abronkema I'll give this is a shot if you can assign me, thanks :)

[2019-10-09 14:07] mauricio-prl commented on #86
@Drew-Goddyn I'm about to push a PR to this because I was working on this earlier this morning...

[2019-10-09 16:22] Drew-Goddyn commented on #86
🤷‍♂

[2019-10-09 17:04] DamirSvrtan opened #90 "Don't show sign up / sign in flash messages twice"
**Describe the bug**
Currently when a user signs up or signs it, the flash message is shown twice. I think both of the issues can be resolved with one solution, seems they are related.

**To Reproduce**
If I click on the "Sign Up" button when i'm logged in, I get shown this message twice: "You are already signed up".

If I click on a navigation button while logged out, I am shown "You need to sign

[2019-10-09 17:22] m-pereira opened #91 "Change from fixtures to factory_bot"
I propose to change the fixtures for [factory bot](https://github.com/thoughtbot/factory_bot_rails). WDYT?

[2019-10-09 18:19] JuarezLustosa commented on #90
Can I help with this ?

[2019-10-09 20:09] DamirSvrtan commented on #90
Sure thing, go for it!

[2019-10-09 21:15] pollygee commented on #86
@m-pereira thanks so much for the hard work!  We'll get someone to review your PR soon!  In the future please comment on an Issue so we can assign it so others know you're working on it.  Thanks so much!

@Drew-Goddyn so sorry about that!  We have LOTS more work so maybe you see another issue?  We'll be putting in a bunch more soon too!  Thanks for coming to help!  We're so grateful.

[2019-10-09 21:49] mauricio-prl commented on #86
@pollygee and @Drew-Goddyn, I'm sorry about that. It's my first time contributing with opensource projects. Next time I will comment something before start working in the issue

[2019-10-09 23:35] pollygee commented on #86
@m-pereira no problem!!  So exciting it's your first contribution!  Congratulations and thanks for picking us to help.  We have plenty of things we need help with so there's enough to go around!

[2019-10-10 06:43] DamirSvrtan commented on #91
Thumbs up from me!

[2019-10-10 12:53] pollygee commented on #91
Hi @m-pereira thanks so much for the suggestion.  I think fixtures are working for us for now and we have a lot of development to do to get us to MVP, so we'll stick with what we've got for now!  Thanks for helping us at Ruby For Good!  We have lots of other work to do, so I hope you'll stick around and give us a hand getting to deployment!!

[2019-10-10 15:08] pollygee commented on #81
@nisusam it looks like @Rgaliant grabbed this issue first.  Can you check out his changes and see if you saw anything he missed since you looked at this part of the code?  Next time, comment here when you start working on something so we can assign it to you and avoid doubling up!  There's plenty to go around, thanks for helping!

[2019-10-11 01:02] LizPrescott commented on #63
@abrankema Responding to @pollygee comment on pr #76 . See prs #96 and #97
This approach lets us leave the whole organizations question out of this issue.

[2019-10-11 05:32] ludamillion commented on #82
I'd be happy to 🤚 for this.

[2019-10-11 05:49] ludamillion commented on #47
I'd be happy to work on this one.

[2019-10-11 12:31] abronkema commented on #47
@ludamillion - thanks! Assigned to you. Please let me know if you have any questions.

[2019-10-11 12:34] abronkema commented on #82
@luizpicolo - you were the first to comment - are you working on this? If not, I'll assign it to @ludamillion

[2019-10-11 12:42] luizpicolo commented on #82
Yes. I'm working. Assign to me

Em sex, 11 de out de 2019 09:34, Anthony Bronkema <notifications@github.com>
escreveu:

[2019-10-11 14:06] ludamillion commented on #47
@abronkema Will do. I asked on the Slack channel but I'll ask here too. Is there any kind of design document or wireframes for this? I'd be happy to just use my own design sense but wouldn't want to be going in the wrong direction if there is one.

[2019-10-11 15:21] abronkema opened #98 "Add Code Climate to repo"
Adding Code Climate's open source "Quality"

[2019-10-11 17:29] rubynho commented on #98
I'll take care of it

[2019-10-12 01:15] #63 closed

[2019-10-12 11:11] #81 closed

[2019-10-12 12:03] pollygee opened #101 "Fix Failing test"
We moved listing carriers from show to index, so we need to update the tests to reflect that change.

Failing tests:
https://travis-ci.org/rubyforgood/babywearing

[2019-10-12 12:06] pollygee commented on #101
@LizPrescott are you able to look at this?  If so please assign it to yourself, thanks!

[2019-10-12 14:20] #86 closed

[2019-10-12 22:48] LizPrescott commented on #101
I will fix this. Sorry I missed it!

[2019-10-12 23:45] pollygee commented on #101
No worries thanks!

[2019-10-13 10:03] dixpac opened #106 "FIX N+1 on the carriers#index"
When rendering `carriers#index` we have N+1 on this [line](https://github.com/rubyforgood/babywearing/blob/master/app/views/carriers/index.html.erb#L19).
For each row we are firing new DB query to fetch the location.

Expected:
Preload locations upfront using `included` on the `ActiveRecord::Relation`

[2019-10-13 10:05] dixpac commented on #106
@LizPrescott would you be comfortable addressing this issue?

[2019-10-13 11:46] LizPrescott commented on #106
Yep! Thanks for alerting me.

[2019-10-13 16:37] abronkema commented on #22
@Aliciawyse - do you think you'll have time to work on this? If not, we have some folks who can take it and we'll have more inventory page work in the future!

[2019-10-13 16:44] abronkema opened #107 "Add Statuses to Carriers"
For carriers, we need four separate status options
- `Available`
- `Disabled`
- `Sold`
- `Unavailable`

These statuses should be a dropdown on the carrier's page.

We would also like a method on the carrier model called `available_for_checkout?` which will return false for all these status' except `Available`

[2019-10-13 17:00] abronkema opened #108 "Update & Add Location Statuses for Carriers"
Carriers currently have a `Location`, but we need to distinguish between the carrier's home location (where it originated from when added) and which location it is currently assigned to.

- Rename `Location` to `Home Location`. This would be the original location of the item.
- Add `Current Location` status. This would be a dropdown option in a workflow (not yet implemented) to allow a carrier's `

[2019-10-13 17:05] abronkema opened #109 "Update /categories view to show Parent"
In `/categories`, the view is currently confusing as the Parent categories and subcategories are listed inline with each other.

![image](https://user-images.githubusercontent.com/47750744/66719161-fe23c300-edb9-11e9-83b6-ebb8bf468b0d.png)

We need to change the `/categories` view so that its default view lists _only_ Parent categories.

When a Parent category is clicked, we should then display al

[2019-10-13 17:09] abronkema opened #110 ""Add Item" should link to /carriers/new"
The `Add Item` link in the nav bar should be updated to redirect to `carriers/new`

![image](https://user-images.githubusercontent.com/47750744/66719191-a3d73200-edba-11e9-8833-3396fab2a9ac.png)

[2019-10-13 17:16] Nada1996 commented on #110
@abronkema  can I start working on this?

[2019-10-13 17:29] pollygee opened #111 "Remove Organization"
We currently have Organization, and we need to remove it.  It's been confusing, and for now we only have one organization.  We won't have more for a long time, so we don't want to overly complicate our MVP for the unknown in the future.  So going forward we want to build for only one org and want to remove what we have currently that uses it.

[2019-10-13 18:07] melissa-hong commented on #108
Hi @abronkema - could I take a stab at this please

The steps as I see it (please correct me if I'm wrong!):
- Rename 'Location' > 'Home Location' in carrier form template (in `Carrier` db table it would still be `location_id`)
- Add `current_location_id` to `Carrier` table
- Add 'Current Location' dropdown to carrier form template (both new carriers and editing existing carriers) and implement sa

[2019-10-13 18:41] pollygee commented on #108
HI @melissa-hong thanks so much!
So here's what I was thinking.  We only need one list of locations, because the home and the location could be the same, or maybe they're not......maybe it's on loan to another location for a while?  But they aren't separate places, it's from the same list. I don't know if that makes sense.

So, I was thinking that we could just keep one list in the database as loc

[2019-10-13 18:51] Nada1996 commented on #110
Hi @abronkema , I created a PR #112 for this issue, can you please review it?

[2019-10-13 19:24] #98 closed

[2019-10-13 19:33] abronkema opened #116 "update codeowners"
update codeowners file

[2019-10-13 19:47] DamirSvrtan opened #118 "Link to carrier show page missing"
**Describe the bug**
Seems like we stopped linking from the carrier index page to the show page, but thankfully the spec suite caught it! It's no biggie, a simple one line change can fix this!

**To Reproduce**
1. Log in
2. Click on carriers
3. You won't be able to click on the carriers to see more details

I'll submit a quick PR to fix this.

[2019-10-13 19:53] #101 closed

[2019-10-13 19:55] DamirSvrtan commented on #118
This is a duplicate of #101. Closing.

[2019-10-13 19:55] #118 closed

[2019-10-13 19:57] #116 closed

[2019-10-14 02:08] #106 closed

[2019-10-14 02:15] mauricio-prl commented on #109
@abronkema Can I try to do it?

[2019-10-14 03:51] melissa-hong commented on #108
Thanks @pollygee - yes that makes sense to me. I've created PR #122 to address this

One issue with my PR that I'm still not sure how to fix - all existing carrier entries will have `current_location_id` set to `nil` however when you edit them, the dropdown will default to the first location value which is misleading. This is the same as for location however it's an issue here because current loca

[2019-10-14 04:40] cattywampus commented on #108
I wonder if instead of thinking of `current_location` as optional, it's always set with it's original default value in sync with the `home_location`. My thought here would be every carrier has a home location it originally belongs to. In this initial setup it's current location would match it's home location. Once it's transferred to a new location then the current location would be updated. Based

[2019-10-14 06:01] DamirSvrtan commented on #111
@pollygee is this something you'll be picking up?

[2019-10-14 11:14] pollygee commented on #111
@DamirSvrtan yep!  I assigned it to myself, I'm on it!!  Thanks.

[2019-10-14 11:22] pollygee commented on #108
@melissa-hong awesome thanks so much.  Excited to have you here helping us out.  We are actually a community, so feel free to come join us!  We have a Slack - the invite is on our website www.rubyforgood.org (the # at the top of the page links to the invite) we've got a channel #babywearing where we discuss stuff too, so it's another good place to ask questions and get help.  Here is good too thou

[2019-10-14 13:32] #90 closed

[2019-10-14 20:35] gabrielbaldao opened #128 "Fee Type amount must be money"
When the user will create a new Fee Type, currently, he must write a amount value without dot, for example, to create a amount of $ 88.88 he must write 8888, in database this is created like a integer type, but to show this value, it will be showed as $ 88.00, maybe in the future this may bring problems.

![valor_novo_fee_type](https://user-images.githubusercontent.com/20587352/66781155-f55dea80-e

[2019-10-14 20:42] JuarezLustosa commented on #128
@gabrielbaldao You're alright, should this in decimal on the database. I can fix that

[2019-10-14 20:43] gabrielbaldao opened #129 "Get back from new location"
Once you have created a new location, there is no button to return to the list of existing locations as there is in Fee Type.

![nova_localizacao](https://user-images.githubusercontent.com/20587352/66781569-03f8d180-eeaa-11e9-8b85-6a5e943d5144.png)

[2019-10-14 23:34] #110 closed

[2019-10-15 05:39] melissa-hong commented on #108
That makes sense @cattywampus, @pollygee - I've updated my PR with a rake task that will set the current location of all existing carriers to the current home location. And since the `/carriers/new` page enforces home/current location selection it should never be nil.

[2019-10-15 07:50] #129 closed

[2019-10-15 15:23] #111 closed

[2019-10-15 15:25] pollygee opened #134 "Remove Organization table"
We don't want to have organization in our app for the moment so we need to delete the table, and the foreign key in the locations table.

[2019-10-15 15:29] Rgaliant commented on #107
Hello, I am going to open a PR for this if that's alright.

[2019-10-15 17:20] pollygee commented on #107
Hi @Rgaliant thanks so much for being so involved in our project!  Sorry this ticket is blocked, we have to decide how we want this implement the checkout process and the way we implement this will be dependent on what we decide there.  We have a meeting tomorrow to discuss this and we'll know more then.

Feel free to join our slack so you can join the conversation about the project.  The link is

[2019-10-15 19:20] Rgaliant commented on #107
@pollygee thanks! I'd love to contribute a couple more PR's for hacktoberfest

[2019-10-16 01:46] #109 closed

[2019-10-16 02:42] #134 closed

[2019-10-16 04:25] DamirSvrtan opened #139 "Fix flaky carrier specs"
**Describe the bug**
Multiple times travis has failed due to carriers not having locations. Seems like something with fixtures is not right.

**To Reproduce**
1. Be sure your test db is wiped out. E.g. `RAILS_ENV=test rails db:schema:load`
2. Run your spec with one of the seeds from the failing builds: `bundle exec rspec --seed 47379`

**Expected behavior**
These should not fail like this randomly

[2019-10-16 07:42] #139 closed

[2019-10-16 12:00] #128 closed

[2019-10-16 22:47] pollygee opened #146 "Need styling fix on upload carrier photo"
**Describe the bug**
When you add a new carrier at /carrier/new the "Browse" button needs styling, it doesn't fit inside the Photo box.
![Babywearing](https://user-images.githubusercontent.com/10904005/66964654-3f7bd300-f045-11e9-8eaf-bd16d620dfae.jpg)

[2019-10-17 00:32] Rgaliant commented on #146
I can try this one, I'll open up a PR tonight

[2019-10-17 01:11] DamirSvrtan commented on #146
Hi @Rgaliant, thanks for volunteering however seems like there's already a Pull Request in place: https://github.com/rubyforgood/babywearing/pull/147

[2019-10-17 01:14] Rgaliant commented on #146
darn beat me to it

[2019-10-17 07:33] #108 closed

[2019-10-17 14:20] #146 closed

[2019-10-17 14:31] abronkema opened #150 "Carrier Images - Correct/Standardize Sizing"
**Describe the bug**
When navigating to `/carriers`, the placeholder images (see #59 ) appear much larger than photo uploads.

**To Reproduce**
Steps to reproduce the behavior:
1. Create user or log in
2. Click on 'Carriers' or navigate to `localhost:3000/carriers`
3. Images should load.

**Expected behavior**
The item containers should be the same size, and the images should also size up/down to

[2019-10-17 14:55] Rgaliant commented on #150
just opened a PR to try and solve this 👍

[2019-10-17 15:50] abronkema commented on #150
Thanks @Rgaliant ! I've gone ahead and assigned this to you.

[2019-10-17 16:01] abronkema opened #152 "[Nav Bar] Create "View Members" link for Admins/Volunteers"
In the top nav bar, we need to add a new link/icon/text called "View Members".

- Select an icon that fits the current theme (Bootstrap Admin SB 2), or you can use one that's tested, such as [Octicons](https://octicons.github.com/)
- Text should read "View Members"
- Icon and text should mirror other nav icon links/elements in alignment/sizing.
- This element should appear at the end of the nav ba

[2019-10-17 16:05] Rgaliant commented on #152
I can tackle this one this evening!

[2019-10-17 16:17] abronkema opened #153 "Create Member List Table/View"
We need a page with a table added that lists all registered users and allows the option to edit their user role (Admin, Volunteer, Member) and a button to link to that user's profile page to edit their information.

- This page should only be accessible to authenticated users with an assigned role of Admin or Volunteer.
- Column 1 should be titled `Username` and list their usernames with the toggl

[2019-10-17 16:25] Rgaliant commented on #153
Hey Anthony, I can take this one too

[2019-10-17 16:42] pollygee commented on #153
@Rgaliant one important note.  We currently have 4 roles in rolify.  The roles are user, admin, volunteer and member.  User is kinda redundant, so we don't want to display that in this dropdown.  We'd want admin, volunteer, member, and disabled(which we currently don't have).  Maybe we could rename user to disabled?  That or we can remove user and add disabled.

Also we don't have a username - so

[2019-10-17 16:45] #150 closed

[2019-10-17 17:21] abronkema commented on #153
@pollygee @Rgaliant - correct, let's use email in place of username here.

[2019-10-17 23:28] DamirSvrtan commented on #153
@pollygee does it make sense to open an issue ticket that explains what needs to be changed with user roles? Let's remove the redundant 'user' and add the 'disabled' one.

Let me know if you wanna create the issue or you want me to do that. If you have any documentation on that send it my way please!

[2019-10-18 00:24] pollygee commented on #153
@DamirSvrtan I can do that, I don't want it to interfere with what @Rgaliant is doing here and cause some merge conflicts though.  I guess @Rgaliant if you want to wait to do this till we get that resolved then you can have that change?

[2019-10-18 00:30] pollygee opened #157 "Update user roles"
**Is your feature request related to a problem? Please describe.**
We currently have 4 roles but one of them is redundant, and we need an additional one.

**Describe the solution you'd like**
We are using rolify gem in our app to handle the roles.  We have 4 roles currently, `user`, `member`, `volunteer`, and `admin`.

- [ ] Delete `user`
- [ ] Add a `datetime` column to `User` for `deactivated_at

[2019-10-18 00:30] DamirSvrtan commented on #153
@pollygee I think @Rgaliant can continue on work with this as in this PR the roles should not be hardcoded, but the list should just be prefilled by doing `Role.all`.

[2019-10-18 00:31] DamirSvrtan commented on #153
@pollygee this got me thinking, is 'disabled' really a role we wanna have? That does not sound like a role, but rather an extra attribute on the user model. What are your thoughts? (we can discuss this more in the issue you're opening).

[2019-10-18 00:34] pollygee commented on #157
@DamirSvrtan does that make sense? @rgaliant do you want to take this issue or let someone else pick it up?

[2019-10-18 00:37] pollygee commented on #157
@DamirSvrtan I think we wanted a way to differentiate between a member who is active and inactive without loosing their history in case they reactivate.  Do you think it's better we don't do this as a role?

[2019-10-18 03:35] abronkema commented on #157
@pollygee @DamirSvrtan - my thought on disabled as a role was sort of a
“what if they need to prohibit someone from reactivating membership (maybe
non-payment, fraud, etc)”. If there’s an easier way to accomplish it
without a defined role (but easily visible to Volunteers), great!

This (Disabled) wasn’t a request from the stakeholder. Just a thought as I
compared some membership management option

[2019-10-18 04:54] Rgaliant commented on #157
with rolify do we just need to delete the role from the database with id 4?

[2019-10-18 15:34] dixpac commented on #157
My 2 cents on this topic:
When I think about wether user is active or deactivate I immediately think about some kind of status or flag column on the user, not the role itself.

Thinking about `active -> deactivate -> active` use-case, if in the future we want to "deactivate" other roles for example `volunteer` we wouldn't know what was their "old" role when `activation` happens again.

Also, re re

[2019-10-18 21:39] pollygee commented on #107
@Rgaliant we are unblocked here.  I made some edits in the ticket itself.
 I know you've taken on some other stuff, but you had done some work on this - do you want to be assigned to this issue too or should we open it up for someone else to pick up?

[2019-10-18 22:54] abronkema opened #161 "Default user role to “member”"
When a new user is created, via `/sign_up` their default role should be set to `member`.

[2019-10-19 05:37] mauricio-prl commented on #161
@abronkema can I try to do?

[2019-10-19 11:23] pollygee commented on #64
@abronkema I think this has been resolved, correct?  Can we close this issue?

[2019-10-19 11:25] pollygee commented on #107
@Rgaliant  you've got a lot you're working on at the moment :) So I'm going to to open this up for someone else to pickup.  Thanks for all you're doing!

[2019-10-19 11:29] pollygee commented on #107
@ludamillion any interest in this issue?

[2019-10-21 03:30] DamirSvrtan commented on #157
Seems like @dixpac and I are on the same page - `deactivated` or `disabled` is not a role - we'd rather want that as a separate column such as `deactivated_at`.

[2019-10-21 07:20] #152 closed

[2019-10-21 12:58] pollygee commented on #107
This ticket is up for grabs!

[2019-10-21 13:01] abronkema commented on #64
resolved via #150

[2019-10-21 13:01] #64 closed

[2019-10-21 15:24] #161 closed

[2019-10-21 19:44] ludamillion commented on #107
@pollygee Sorry just saw this now. Sure I'll take it.

[2019-10-21 22:24] #78 closed

[2019-10-21 22:43] pollygee commented on #157
@dixpac I like having a history of deactive, it would also allow an admin to have extra information.  I can imagine a situation where they might want to know how long a member has been deactive for.

What do you think @abronkema can we put in a separate ticket to add a boolean `active` on the user table, default to true.  We could add a toggle to /users page that the admin sees, and they could set

[2019-10-22 08:13] dixpac commented on #157
Actually I like @DamirSvrtan idea even more. We can have `deactivated_at`(datetime) column, if it is empty then `User` is active, else it is `deactive` and we have information when `deactivation` happened

[2019-10-23 12:56] pollygee commented on #157
Ok so we want to do two things -
1) delete `user`
2) add a column to User `deactivated_at` datetime column
3) display a dropdown on the user page that the admin so that the admin could change a user to deactive?

We could also down the line have some logic that would deactivate an account automatically if the dues weren't paid things like that, but an admin should be able to do it manually I think

[2019-10-23 13:39] abronkema opened #165 "Merge Cart and Loan into single model object"
- [ ] Combine the `Cart` and `Loan` objects into a single model object named `Loan`.

- [ ] The new `Loan`  model object should have a reference to the member making the loan.

- [ ] The new `Loan` model object should have a property for `returned_at`, which will be set when a loan is returned.

- [ ] The new `Loan` object should have two different volunteer associations, one for the volunteer who

[2019-10-23 13:42] abronkema opened #166 "Add "Watch List" functionality to Carrier page"
- [ ] Members should be able to add carriers to a 'watch list' of carriers that they are interested in.  (This might need to be renamed.)   This should create a Loan object with no volunteers or due date associated with it.

- [ ] This should be implemented as an action that creates the Loan and then redirects to the show page for the carrier if it succeeds.

- [ ] Members must have signed the app

[2019-10-23 13:44] abronkema opened #167 "Allow Volunteers/Admins to Checkout Carriers to Members"
- [ ] When a volunteer looks at a detail page for a carrier, they should see a list of members who are interested in checking it out (who have a Loan object that has no checkout information - see Watch list issue #166 )

- [ ] There should be a checkout button on each user in that list.  When the volunteer clicks on that button, they should go to a separate action that confirms the volunteer wants

[2019-10-23 13:46] abronkema opened #168 "Send Email on Successful Checkout"
- [ ] At check out, the system should send an email to that member's email address containing information about the loan, including the carrier details and the information about when the carrier is due back.

[2019-10-23 14:04] abronkema opened #169 "Move "Invalid Email or Password" error messages on Log In page"
When entering an invalid email or password on the Log In page, the text "Invalid Email or password" is displayed in the upper left. Please make the following adjustments:

- [ ] Change text from "Invalid Email or password" to "Invalid Email/Password"
- [ ] Error text should be red (color value is up to your discretion, should be vivid on the background)
- [ ] Increase error text size by ~25%
- [ ]

[2019-10-23 14:05] ahmedash95 commented on #169
I'm taking this one :)

[2019-10-23 14:12] abronkema opened #170 "Add Safety Link option to Carriers"
In a carrier's edit page (`/carrers/id/edit`), add an optional field for "Safety Link" below the `Size` field.

![image](https://user-images.githubusercontent.com/47750744/67401729-8e61c500-f57d-11e9-843e-b73a14b0518a.png)

We will utilize this in #168 to send the member a link to the carrier's safety information if present in the carrier page.

Example link would be something like [this](https://

[2019-10-23 14:12] abronkema commented on #169
Thanks @ahmedash95 ! I've assigned it to you

[2019-10-23 14:40] abronkema opened #171 "Send Email 7 Days Prior to Due Date"
- [ ] The system must send an email to the member's associated email address (based on the member who signed the item out) with an upcoming due date reminder.

- [ ] This should be encapsulated in a job that is run daily.

[2019-10-23 14:53] abronkema opened #172 "Send Email on Due Date"
See #171

- [ ] The system must send an email to the member's associated email address (based on the member who signed the item out) with a due date notification.

- [ ] This should be encapsulated in a job that is run daily.

[2019-10-23 14:56] abronkema opened #173 "Send Overdue Email Reminder"
See #171 and #172

- [ ] The system must send an email to the member's associated email address (based on the member who signed the item out) when a carrier is overdue, based on the following:

- Send on `due_date` + 1 day
- Send on `due_date` + 7 days

- [ ] This should be encapsulated in a job that is run daily.

[2019-10-23 15:46] corprew opened #174 "only admins should be able to create/update/delete certain domain objects."
**Describe the bug**
Only admins should be able to create, edit, update, and delete the following objects:
* `MembershipType`
* `Category`
* `FeeType`
* `Location`
* `Agreement`

**To Reproduce**
Steps to reproduce the behavior:
1.  log out & go to website.  Log in as a standard member.
2. load the membership type controller.
3. create a new membership type.
4. observe success message
[repeat for

[2019-10-23 15:52] corprew opened #175 "Only Volunteers & Admins should be able to modify Carriers"
**Describe the bug**
This is related to #174

Only volunteers & admins should be able to create, edit, update, and delete the following objects:

* `Carrier`

**To Reproduce**
Steps to reproduce the behavior:
1. log out & go to website. Log in as a standard member.
2. go to http://localhost:3000/carriers/new
3. create a carrier
4. save the carrier
observe success message

**Expected behavior**
Non

[2019-10-23 17:50] ahmedash95 commented on #169
Hello @abronkema. I made the PR. also, moving the position of the error message to the top of the login component would add more complexity to the project because you share the error module among the entire project so I hope the current implementation works for you.

[2019-10-23 23:09] samanthakem commented on #175
Hi, I added this feature through the PR https://github.com/rubyforgood/babywearing/pull/177.

[2019-10-24 00:12] pollygee commented on #165
@valeriecodes are you interested in this one?

[2019-10-24 00:12] pollygee commented on #166
@valeriecodes or this one?

[2019-10-24 00:23] #169 closed

[2019-10-24 01:21] valeriecodes commented on #165
I'll take it, thanks @pollygee and @abronkema !

[2019-10-24 02:56] valeriecodes commented on #165
Couple questions:

- What's the default due date?
- Should this also include code to migrate existing `Cart`s into the `Loan` data model? Or will the table just be dropped?
- Should the member who the item is checked out to also be passed to the `checkout` method?
- Are loans created before the checkout method is called on them (presumably without due dates or volunteers?) If not, should the check

[2019-10-24 04:17] valeriecodes commented on #165
Opened a PR, but I can tweak/finalize based on your responses to the above questions: https://github.com/rubyforgood/babywearing/pull/179

[2019-10-24 12:20] pollygee commented on #167
I think this one is blocked by #166 .  We need to have the list of members interested to be working in order to work on this.

[2019-10-24 12:46] abronkema commented on #157
@pollygee @DamirSvrtan @dixpac @Rgaliant - I've updated the approach in the ticket to match the decision made here. I'll also update #159 or create a new ticket to update the dropdown in the User list view.

[2019-10-24 16:16] #175 closed

[2019-10-24 18:05] valeriecodes commented on #166
I can do this next, but I probably won't get to it until tomorrow or the next day.

[2019-10-25 01:55] Rgaliant commented on #153
@abronkema by user profile page do we mean the user edit page?

[2019-10-25 02:00] abronkema commented on #153
@Rgaliant yep! Edited text for clarification.

[2019-10-25 06:57] DamirSvrtan opened #182 "Add rubocop for style consistency"
Rubocop is the most popular Ruby linter and I'd wanna add the code climate integration so we can hopefully get automatic comments from code climate on style related issues. One of the things we should avoid is focusing on style in PR's specially since it can be done automatically.

I guess code climate can do that for us, if not I know that [Hound](https://houndci.com/) is an option.

I can take o

[2019-10-25 07:27] dixpac commented on #182
I'm 100% for this. It would be extremely helpful. Used CodeClimate and Hound in the production apps and both will do the job for us. Played with standard but not with the production apps.

One thing I found helpful is adding git hooks that execute rubocop before commit/push.

There are also GithubActions now that we can hook with rubocop but they may be over engineering for this project.

[2019-10-25 12:43] #170 closed

[2019-10-25 12:54] pollygee commented on #182
We have plans (when we get time!!!) to get a RubyForGood rubocop so that we can set that up before we start projects and so we have standardization across the apps to make it easier to contribute.  In the meantime, yes, we need to do this individually for projects.  Thanks so much for bringing this up, and for taking this on!

[2019-10-25 13:55] abronkema opened #183 "Add Checkout Workflow from Carrier Page"
**Note: Use of the word "user" here is referring to authenticated users with an Admin or Volunteer role only.**

### Carrier Detail Page
- [x] Add a `Checkout` button to `/carrier` page for authenticated Admin and Volunteer users.
- If the status of the carrier is Available, the `Checkout` button should show the text `Checkout` and have styling indicating it's clickable.
- If the status of the car

[2019-10-25 14:30] abronkema opened #184 "Restyle sign-up page using sb-admin-2"
In #141 , @ludamillion restyled the login page and we should take the opportunity to update our `/users/sign_up` page as well.

[2019-10-26 11:57] pollygee opened #185 "Need styling for /users"
/users has a table of users and their info, but it's tough to read.  We need some styling to make the table more readable and to match the other pages in our app.

![Babywearing](https://user-images.githubusercontent.com/10904005/67619132-d5da9200-f7c5-11e9-8fd7-dccd3cb9a2bb.jpg)

[2019-10-26 12:41] dixpac commented on #185
@Rgaliant  is already "attacking" this in his PR #159

[2019-10-27 01:50] pollygee commented on #185
Ah great thanks @dixpac I'll close this one!

[2019-10-27 01:50] #185 closed

[2019-10-28 13:03] mauricio-prl commented on #174
Can I try this one?

[2019-10-28 13:14] pollygee commented on #174
Thanks @m-pereira we appreciate all the help you're giving us!  I'm going to send you an invite to be a collaborator, if you want so you can self assign when you want to work on something!  Hopefully you'll stick around for a while!  😉

[2019-10-28 13:33] mauricio-prl commented on #174
@pollygee It will be a pleasure

[2019-10-29 08:52] dixpac commented on #165
@valeriecodes  I think I can answer first two quesitons. @abronkema  when you have some free time can you unblock @valeriecodes?

I think default due date should be `now + default_loan_length_days` from the `Carrier`

We can just drop the `Cart` since we don't have any users using the app, still in the "building" phase.

[2019-10-29 11:40] pollygee commented on #165
Sorry for the delay, I missed this.

Yes, I think you're right we'd need to know that too.

I'm not sure....I didn't think a loan was created until the checkout method.  I think we need a checkout method because we want to look at historic data on a carrier and on a member.  WE also have different ways a carrier can be checked out (@dixpac is working on a second workflow for carrier checkout).  @a

[2019-10-29 14:05] abronkema commented on #165
@pollygee @valeriecodes - as long as we can support some way to reserve the item and check it out only if the requisite conditions are true:
- member is an active member
- member has signed requisite agreements
- member does not currently have item(s) checked out that would exceed the carrier limit defined by their membership type

Does that make sense? Totally up to you guys on how to best implem

[2019-10-30 08:11] #107 closed

[2019-10-30 08:14] #182 closed

[2019-10-30 08:19] #174 closed

[2019-10-31 12:54] pollygee commented on #165
I agree with your @abronkema  but I think that's all out of the scope of this ticket.  I think this starts to tread into the issues #166 and #167

I think we've got kinda stuck here, and most important is just that we get ourselves to a place where we can get moving again.  @dixpac has a spike that works on that checkout functionality so maybe we don't even really need this solved here, maybe we c

[2019-10-31 13:52] dixpac commented on #165
@pollygee  I agree...I can make the basic MVP that works then we can go from there...just so we can show project stakeholders something

[2019-10-31 18:19] pollygee commented on #82
Hi @luizpicolo Did you have something to push here or should we open this up to someone else to work on?

[2019-11-01 08:03] dixpac opened #194 "Introduce User first and last name"
At the moment for the user we have only `full_name`. Using `full_name` for the mailers feels a bit unnatural and strange.

We need to drop the `full_name` column and introduce `first_name` and `last_name` on the `User`.

Bot `first_name` and `last_name` can't be `nil/empty`

**NOTE**

Since app is in the development phase and we don't have customers using it yet, we can just backfill users with `f

[2019-11-01 10:25] pollygee commented on #22
We need help to resolve this issue.  The work was started by Alicia worked on this but didn't finish, the progress she made is in a PR above.

[2019-11-02 11:12] #157 closed

[2019-11-02 12:41] #165 closed

[2019-11-03 17:08] #194 closed

[2019-11-03 18:33] pollygee opened #200 "Update user isn't working"
**To reproduce the bug**
Navigate to `/user/edit`.  Change fields, click the update button.  Info isn't updating.  Info on the page stays as the new field when you click update but it doesn't save, and when you refresh the page it's gone.

We need the new info to save, and we need tests to prove that this works and make sure it doesn't get broken in the future.

![Babywearing](https://user-images.

[2019-11-03 18:35] pollygee commented on #183
@dixpac is this issue covered by the functionality you just added?

[2019-11-03 21:44] pollygee opened #201 "Add a User Link doesn't work"
**Describe the bug**
As an admin, I want to be able to add a user.  When  I click the button I don't get a form to add a user, I get the flash message that I'm already logged in.  Currently one could log out to create a new account.  However, for our users they will have a volunteer or admin logged in checking out carriers etc, and we need them to be able to add users as well.

**To Reproduce**
St

[2019-11-04 07:37] sarslanoglu commented on #201
@pollygee I could take a look if it's open for outside contributors

[2019-11-04 08:22] dixpac commented on #183
@pollygee not everything

**Covered:**
- Checkout button is visible to `admin or volunteer`
- When clicking checkout modal is shown where user can choose member and due date
- Clicking `Checkout` button on the modal saves new Loan object

**Not-covered**

- Show disable checkout if carrier status is unavailable
- Agreements stuff
- Better search/autocomplete on the members dropdown
- Nicer looking

[2019-11-04 11:48] pollygee commented on #183
OK great thanks so much!  I'm going to assign you to this then just for clarity.

[2019-11-04 12:14] pollygee commented on #201
@sarslanoglu that would be awesome!  Thanks so much 👏

[2019-11-04 16:37] DamirSvrtan opened #206 "Stop responding to json"
A lot of the controllers currently respond to both html and json. We don't need them to respond to json, this is a leftover from rails generators.

**Solution**
From the respond_to blocks we only need the part that is responding to html. Extract that html part and erase the rest of it. Here's an example of one of many controllers that leverage the respond_to block without needing it.

This is what

[2019-11-05 11:51] sarslanoglu commented on #201
These posts are related with my solution to the problem. Fell free to check them.

https://stackoverflow.com/questions/23140117/allow-a-user-to-add-new-users-in-devise-and-remain-logged-in-as-themselves

https://stackoverflow.com/questions/7075873/devise-how-to-create-a-new-user-being-already-logged-in

https://stackoverflow.com/questions/19017978/allowing-admins-to-add-users-with-devise

[2019-11-06 06:49] #206 closed

[2019-11-06 16:03] sarslanoglu commented on #201
For future reference: https://github.com/plataformatec/devise/wiki/How-To:-Manage-Users-with-an-Admin-Role-(CanCan-method)

[2019-11-06 17:13] pollygee commented on #201
Hi @sarslanoglu just so you know - we are currently using pundit gem not Can-Can.
https://github.com/varvet/pundit

[2019-11-06 18:25] sarslanoglu commented on #201
@pollygee My mistake. I didn't use it. Deleted the comment

[2019-11-08 11:44] #22 closed

[2019-11-08 11:47] pollygee opened #211 "Fix "Browse" button when creating a carrier"
Click "Add item" in the banner.
At the bottom of the page there is the option to add a photo, and the "browse" button is cut off.

We need to fix the styling so the whole button shows so it will look better.

![Babywearing](https://user-images.githubusercontent.com/10904005/68474534-a11e0000-01f3-11ea-8996-b216d3cec416.jpg)

[2019-11-09 18:28] corprew opened #213 "user fixtures without roles cause issues in specs"
**Describe the bug**
If a user without a role exists, it causes problems in specs.  User fixtures are being created without roles and code that assumes that all users have at least one role is failing.

**To Reproduce**

run a spec that accesses the properties of a user's roles with the user(:user) fixture.

**Expected behavior**
**Screenshots**
**Desktop (please complete the following information

[2019-11-09 18:31] corprew commented on #213
Ok, so per this in stack overflow, it is by design that fixtures don't call callbacks:  https://stackoverflow.com/questions/1223101/do-fixtures-trigger-model-callbacks

This seems to be a fixtures versus factories thing.

[2019-11-09 19:00] corprew commented on #213
i've put this on hold until after we figure out what to do with #212.

[2019-11-10 11:01] dixpac commented on #213
Fixtures skip callbacks and validations. I think we should drop user fixture instance and just use member instead..but yeah #212 fixes this bug also

[2019-11-10 11:28] dixpac commented on #213
Fixed via #212

[2019-11-10 11:28] #213 closed

[2019-11-10 14:59] #153 closed

[2019-11-11 15:16] m-pereira commented on #211
I'll take a look on this

[2019-11-12 16:50] mauricio-prl commented on #82
I want to do this, if @luizpicolo doesn't already done.

[2019-11-12 16:52] luizpicolo commented on #82
Sorry, I couldn't conclude. Can take on a task

Em ter., 12 de nov. de 2019 às 13:50, Mauricio Pereira <
notifications@github.com> escreveu:

--
Atenciosamente

*Luiz Picolo* - *Desenvolvedor Web*
www.linkedin.com/in/luizpicolo
www.github.com/luizpicolo
www.luizpicolo.com.br

[2019-11-12 17:03] mauricio-prl commented on #82
ok, I'm starting working on it.

[2019-11-12 17:51] mauricio-prl commented on #82
@pollygee I have a question, should I block the signup page for new users? Only admins and volunteers will be able to create new members?

[2019-11-12 18:25] pollygee commented on #82
@m-pereira I didn't realize that this was part of this issue.  Someone else is working on the create user issue.  So just address the other two and they'll take care of the first one.  Thanks!

[2019-11-12 18:35] pollygee opened #216 "Fix rubocop violations"
We have over 200 rubocop violations.  We have created a TODO file with all the violations.  https://github.com/rubyforgood/babywearing/blob/master/.rubocop_todo.yml

In order to address some of these isuess, delete the lines of the TODO file you want to fix and run rubocop.  This will reveal the errors.  You can then fix them and run rubocop again.

Do not use the word fix or resolve in your PR so

[2019-11-12 18:55] mauricio-prl commented on #82
Well, how it already has the ```Location``` link in ```Quick Access``` and ```Inventory``` already is ```Carriers```, the only thing that was missing, I did in my PR, right? It's missing something?

[2019-11-14 13:54] mauricio-prl commented on #216
I want to work with this one.

[2019-11-14 14:16] pollygee commented on #216
Great @m-pereira!  There are so many errors, we don't want to wait to merge fixed until they're all fixed.  So please follow the directions above and make a PR when you're done working for the day or whatever, that will allow others to work on it.  Then when you're ready to come back you can just make another PR.  It will probably take us a while to get through all these.

[2019-11-14 14:28] pollygee commented on #166
@valeriecodes are you still planning to take this issue?

[2019-11-14 14:29] pollygee commented on #184
@ludamillion are you still planning to work on this issue?

[2019-11-14 14:31] valeriecodes commented on #166
Yes, sorry for delay, I can do it this weekend.

On Thu, Nov 14, 2019 at 9:28 AM Polly Schandorf <notifications@github.com>
wrote:

[2019-11-14 14:31] pollygee commented on #200
This is resolved but the PR didn't close the ticket so closing it now.

[2019-11-14 14:31] #200 closed

[2019-11-14 14:41] mauricio-prl commented on #216
So I'm gonna work with this one: ```- 'spec/models/user_spec.rb'```

[2019-11-16 17:40] #211 closed

[2019-11-16 17:54] pollygee commented on #82
@m-pereira this is resolved by your recent PR right?  Can I close this issue?

[2019-11-16 23:02] mauricio-prl commented on #82
@pollygee I think yes :smiley:

[2019-11-17 03:35] ludamillion commented on #184
@pollygee I can but if there is someone else who wants to that's fine too. My work on the sign in page should be a pretty straightforward template for the work required.

I don't have a ton of bandwidth right now as my family and I are preparing for the rapidly approaching arrival of our third child. 😄 but also 😱

[2019-11-18 12:58] pollygee commented on #184
Nope!! Nobody else.  It had just been a few weeks so I was just touching base and checking if you still would be able to work on it or if I needed to try to find someone else to help!  Thanks 😺 No rush, just keep in touch.

Congrats!!  That's so exciting.  I see lots of babywearing in your future!

Also feel free to recruit friends/colleagues to help us out!!  🤣

[2019-11-18 14:29] abronkema opened #221 "Style all actions into buttons"
On the following pages, add styling to the "Edit", "Destroy", "Delete" buttons.

### `/carrer/#`
![image](https://user-images.githubusercontent.com/47750744/69060242-0c7e8380-09e5-11ea-8d73-8f01c2869f06.png)

### `/categories`
![image](https://user-images.githubusercontent.com/47750744/69060414-4f405b80-09e5-11ea-85b1-38666c9036ba.png)

### `/categories/#`
![image](https://user-images.githubuserco

[2019-11-18 16:15] DouglasLutz commented on #221
Can I work on this?

[2019-11-18 16:26] abronkema commented on #221
@DouglasLutz - definitely! Thank you! I've assigned it to you now - please let us know if you have any questions.

[2019-11-19 08:31] dixpac commented on #201
@pollygee this is not implemented yet `create` is missing here https://github.com/rubyforgood/babywearing/blob/master/app/controllers/users_controller.rb

There are few details that need to be figured out for this:
When admin creates a user, what happens when that user logs in for the first time, should system sent them the link to activate/set password?

[2019-11-19 14:01] pollygee commented on #201
I guess this is a feature.  🤷‍♀  I was sure I was creating users before.
@abronkema do you want to weigh in with workflow?  Maybe we need a different ticket that describes the feature better.

I think when the user is created we want to direct them to the users' agreements so the member can "sign".  The member will create their password when the user is created (they will be on a volunteer's compu

[2019-11-19 15:49] abronkema commented on #201
@dixpac @pollygee

I think we need to support two workflows:

1 - Volunteer/Admin signs user up at the meeting location. At account creation, it should immediately direct them to sign the agreements, again, tying the agreement signatures to the new user that's been created.
- Something like `Create User` > `Edit/Add User Page` > "Create/Confirm" > `Agreement 1 Signature` > `Agreement 2 Signature`

[2019-11-20 17:46] DouglasLutz commented on #221
Hey @abronkema, I saw that there are other pages that also don't have buttons, such as categories creation. What do you think about changing the other ones too? I can open another PR for those

[2019-11-21 08:45] #221 closed

[2019-11-21 11:42] DouglasLutz commented on #216
Can I work on some errors?

[2019-11-21 13:42] mauricio-prl commented on #216
@DouglasLutz which are you working on?

[2019-11-21 13:52] DouglasLutz commented on #216
I can work on `- 'spec/policies/fee_type_policy_spec.rb'` and `- 'spec/policies/user_policy_spec.rb'`

[2019-11-21 13:54] mauricio-prl commented on #216
Ok, so I'm going to work on the other three:
- [x] ```'spec/policies/loan_policy_spec.rb'```
- [x]  ```'spec/policies/location_policy_spec.rb'```
- [x]  ```'spec/policies/membership_type_policy_spec.rb'```

[2019-11-21 14:28] pollygee commented on #216
FYI @m-pereira @DouglasLutz @mark100net will be working on this today so if there are any particular files you're working on, please comment here.  He will be working on knocking out a bunch of these code violations today so I want to be sure he has the room to do that.  Thanks so much!

[2019-11-23 16:17] #216 closed

[2019-11-24 00:53] #24 closed

[2019-11-24 00:58] pollygee commented on #48
@abronkema how is this different from #168 ?

[2019-11-24 01:02] #82 closed

[2019-11-25 13:38] abronkema commented on #48
@pollygee - it isn't! closing :)

[2019-11-25 13:38] #48 closed

[2019-11-28 19:33] luchiago commented on #172
Is this issue still needs help?

[2019-11-28 20:34] pollygee commented on #172
Hi!  Thanks so much. I’m actually working on the other mailers so I’ll prob just include this one too. I’ll fix the labels

[2019-12-05 19:18] #168 closed

[2019-12-11 05:22] mark100net commented on #183
MOST of checkin/checkout is done now but there is nothing done about agreements in relation to this.  The other exception is "editing" a loan (i.e. other than indicating the carrier is returned....things like adding notes) but that is straightforward.

I would suggest we get a review of what we have now and get an idea of the specifics of what we still need.

[2019-12-17 04:58] #184 closed

[2019-12-19 19:46] mark100net commented on #201
This has been implemented as far as a logged in user (admin or volunteer) being able to create a user.

It leaves the current user logged in, as you would expect.

Directing the volunteer/admin that signed them up to the agreements page so that user just created can do something with the agreements (even though the user that signed them up is still the one logged in) is probably not a practical im

[2019-12-19 19:46] #201 closed

[2019-12-27 14:53] #173 closed

[2019-12-27 14:54] #172 closed

[2019-12-27 14:54] #171 closed

[2020-01-04 18:03] pollygee commented on #183
I'm going to close this issue.  Most of the issues here have been addressed.  I think we need new specific issues for the changes we need from where we stand now.

[2020-01-04 18:03] #183 closed

[2020-01-04 18:06] pollygee commented on #25
We already have a way to see all the carriers.  If we want to add a way to see only overdue carriers we can add a new issue to add it where we want it given our current state.  I'm going to close this.

[2020-01-04 18:06] #25 closed

[2020-01-04 18:21] pollygee commented on #167
I'm going to close this issue for now, Steph reports that this isn't the best use of our time at this point we have other more pressing needs.

[2020-01-04 18:21] #167 closed

[2020-01-04 18:22] pollygee commented on #166
I'm going to close this issue for now, Steph reports that this isn't the best use of our time at this point we have other more pressing needs.

[2020-01-04 18:22] #166 closed

[2020-01-13 00:48] abronkema opened #254 "All Fees Should Be In Dollars, Not Cents"
in `/membership_types` and on creating a new membership type `/membership_types/new`, the fees listed should be in dollars and cents, where it is currently just listed in cents.

You can see this appropriately formatted in `/fee_types`

![image](https://user-images.githubusercontent.com/47750744/72228416-56fb2700-3574-11ea-8e65-826b6a7ac18c.png)

![image](https://user-images.githubusercontent.com/

[2020-01-13 01:06] abronkema opened #255 "On User Page, Add "Membership Type" dropdown"
When on a `/users/<#>/edit` page, beneath "Role", add a new dropdown selection with the user's currently assigned `membership_type` (@pollygee - did I word this in a helpful way?).

The header for this should be **"Membership Type**

The dropdown list should populate all membership types that can be selected in `/membership_types` and allow the Volunteer/Admin to select any single option.

![image

[2020-01-13 01:15] abronkema opened #256 "On User Page, Add "Effective Date" and "Expiration Date" input fields"
This task is dependent on #255

Beneath the "Membership Type" dropdown being completed in #255 , add input fields for a date selection.

- The "Effective Date" should represent the date the Membership Type was changed/updated
- The "Expiration Date" should be calculated based on the Membership Type's default length, from the "Effective Date"

![image](https://user-images.githubusercontent.com/4775

[2020-01-13 01:23] abronkema opened #257 "On Users List & User's Page, add a new column "Renewal Status""
- On `users`, add a column after `Status` titled `Renewal Status`
- The two options should be `Current` and `Not Current`
- This status should be based on the calculated "Effective Date" in #256 and change to "Not Current" after the Effective Date has passed.

![image](https://user-images.githubusercontent.com/47750744/72228972-3d101300-3579-11ea-9861-716870ed7cf7.png)

[2020-01-13 01:28] abronkema opened #258 "On Carriers Page, Support Filtering By Overdue"
- On `/carriers`, in the Filter area, add another checkbox/toggle to allow filtering of `Overdue` carriers
- This state should also be indicated in the `State` column (@pollygee does this need to be a separate issue?) where any carrier that is checked out in an overdue loan would say "Overdue" (but still be unavailable for checkout).

![image](https://user-images.githubusercontent.com/47750744/722

[2020-01-13 01:32] abronkema opened #259 "Put Carrier State On Its Own Line"
- On `/carriers/<#>` page, the Carrier State appears on the same line as the action buttons (`Checkout`, `Edit`, `Delete`)
- The Carrier State indicator should be on its own line and the action buttons should also be on their own line

![image](https://user-images.githubusercontent.com/47750744/72229179-9593e000-357a-11ea-9461-44dfbdfef236.png)

[2020-01-13 01:37] abronkema opened #260 "In Checkout Modal, Indicate Selected User's Membership Type"
- When selecting `Checkout` on `/carriers/<#>` and viewing the checkout modal, the User dropdown should indicate the user's First and Last name, as well as their Membership type.

![image](https://user-images.githubusercontent.com/47750744/73363199-433f0880-4276-11ea-8a47-92dc96950988.png)

[2020-01-15 15:02] mark100net commented on #260
@abronkema I would suggest appending the membership type to each member's name in the drop down.  This would be more concise and technically less complicated (to display it separately we would probably have to create and call an new endpoint just to get this info whenever a user was selected.

For this purpose (and possibly others) we should probably add a `short_name` or `abbreviation` field to t

[2020-01-15 15:24] mark100net commented on #256
@abronkema This comment also applies to #257

I would suggest having an `effective_date` and an `expiration_date` (rather than a `renewal status`). That way you don't have to rely on the status being manually toggled (or not) at the appropriate time.

I would also suggest we put all of this on a memberships table. Doing this now rather than later will avoid having to migrate when have more elabora

[2020-01-15 15:25] mark100net commented on #257
I suggest we show status as a calculated field based on an expiration date. Please see comment on #256 for more info.

[2020-01-15 15:28] mark100net commented on #254
I suggest we use the `money-rails` gem and implement on this and any other existing monetary fields.

[2020-01-15 18:10] mark100net commented on #255
I suggest `membership_types` be added to the seeds. In the seeds for `agreements` there is some suggestion as to what the values might be.

[2020-01-23 20:20] pollygee commented on #260
I like that @mark100net sounds good.  You ok with that @abronkema?

[2020-01-23 20:24] pollygee commented on #256
@abronkema what do you think.  I think this will work.

[2020-01-23 20:24] pollygee commented on #257
👍

[2020-01-23 20:30] pollygee commented on #255
Good point @mark100net

[2020-01-29 06:03] #259 closed

[2020-01-29 14:00] abronkema commented on #260
@mark100net @pollygee - Yep! That sounds good to me! I'll update the issue now.

[2020-01-29 14:11] abronkema commented on #256
@mark100net @pollygee - I've updated this to reflect those ideas.

[2020-01-29 14:14] abronkema commented on #257
@pollygee @mark100net - updated!

[2020-02-02 01:04] pollygee opened #263 "Move Login and create account link to line up with the rest of the page"
When viewing the site on a phone the login and create account links aren't visible.  We need to move them to line up with the rest of the page so it will show up when viewing it on a phone.

[2020-02-03 23:31] #263 closed

[2020-02-05 08:58] sarslanoglu commented on #258
@pollygee @abronkema I can work on this one

[2020-02-06 01:00] pollygee commented on #258
@sarslanoglu that's great!!  Thanks so much.

[2020-02-06 10:22] sarslanoglu commented on #254
@abronkema @pollygee I can work on this one

[2020-02-06 12:51] pollygee commented on #254
Awesome thanks @sarslanoglu welcome back!!

[2020-02-06 12:53] pollygee commented on #256
@abronkema can we take off the blocked label or is this still blocked for some reason?

[2020-02-06 12:56] pollygee commented on #258
@abronkema can we please get the state put in a different ticket?

[2020-02-06 21:17] pollygee commented on #255
I did this as part of displaying it on the dropdown for checkout.  I haven't done anything with the seeds though, I'll try to add that too as part of this.

[2020-02-07 10:21] sarslanoglu commented on #254
@mark100net Thanks to you I learned a really good gem today. Cheers!

[2020-02-08 03:45] #254 closed

[2020-02-10 15:48] sarslanoglu opened #270 "On fee types edit values are only showing integers"
**Describe the bug**
Current fee types are all integer dollars. When user tries to change it to $30.50 it is saved as 3050 to database but always show as $30

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ```/fee_types```
2. Click on edit any fee type
3. Change amount to something with cents '1050' for example
4. See success message but show page has different amount

**Expected behav

[2020-02-27 22:46] #258 closed

[2020-02-29 18:36] #270 closed

[2020-02-29 18:44] mark100net commented on #260
This is being handled elsewhere.

[2020-02-29 18:44] #260 closed

[2020-02-29 18:44] mark100net commented on #256
This is part of memberships and is being handled elsewhere.

[2020-02-29 18:44] #256 closed

[2020-02-29 18:45] mark100net commented on #257
This is being handled elsewhere.

[2020-02-29 18:45] #257 closed

[2020-03-05 23:23] pollygee opened #276 "Add weight_limit to carrier and make notes on a carrier only visible to volunteers and admins"
We have had some feature requests from MAB.

Each carrier has a weight limit for the baby you can carry in it.  MAB would like us to add `weight_limit` to a carrier.

They do not want members to be able to see the notes they have put on a carrier so they want us to restrict the notes to only be visible by admins and volunteers.

[2020-03-05 23:35] #276 closed

[2020-03-12 16:53] #255 closed

[2020-03-19 17:55] pollygee opened #282 "Add a Loan history on the Carrier Show page"
We would like to have a history of the loans on a carrier so I we can know where the carrier has been.

We have a similar Loan History on the User, /user/:id page, we should try to make the implementation and look similar to this table.

![Babywearing](https://user-images.githubusercontent.com/10904005/77098774-49857180-69e9-11ea-9a19-e2920c2c492a.jpg)

[2020-03-19 18:11] pollygee opened #283 "Limit carrier checkouts by membership type"
Membership types have a `number_of_items`.  This is the max number of carriers the member can have checked out at any time.

If a member already has the maxium numbers of carriers allowed for their membership type, or the membership is `expired` then we want to exclude their names from the dropdown of user names in the checkout modal.

[2020-03-21 13:34] pollygee opened #284 "Add Filters to Users Index page"
We have filters elsewhere in the app.  So we would like to use filterific and have a similar implementation and feel to /carriers.

We want to be able to filter by "Join Date".  So I might want to see who has joined since the beginning of the month, that type of thing.  We should be able to type in a date or select a date from a dropdown.

Other fields we want to filter by:
  -  Status
  -  Role

[2020-03-21 13:46] pollygee opened #285 "Link Membership info to users index and show page"
On the Users Index and show page we have hardcoded "membership info".

We have now implemented `membership_type`.  So we want the `membership_type.name` to display so that a member's membership type displays on the index and show page.

[2020-03-21 14:22] pollygee opened #286 "Add padding to the bottom of tables on index pages"
Add a small amount of padding after the tables on the index pages.  On pages with only a few entries it doesn't matter.  But when we have a table that reaches the bottom of the page the bottom of the table and the bottom of the page are together and we want a small gap between the bottom of the table and the bottom of the page.

![Babywearing_and_Opening_print](https://user-images.githubuserconten

[2020-03-21 15:23] pollygee opened #287 "Returning back to /users doesn't render page"
Steps to replicate:
  -  navigate to /users
  -  click on one of the users
  -  click the back button

BUG:
The users table does not show up, you need to refresh the page to see it.

Desired behavior:
The user page should populate when I return to it.

[2020-03-21 16:17] pollygee opened #288 "Change the banner/links menu"
We can make some improvements to our banner/links. This is what we currently have with a navbar and links on the left side taking up a lot of room:
![Babywearing](https://user-images.githubusercontent.com/10904005/77230786-2388da00-6b6d-11ea-8bdd-65bcb4e01b77.jpg)

The designer had the following design for our banner

![BW-_INVENTORY_svg](https://user-images.githubusercontent.com/10904005/77230484

[2020-03-21 16:18] pollygee commented on #288
@mark100net any comments here, do you want to edit/change anything for this?

@ludamillion I hope you're well!  You may still be busy I'm sure, but if you had any time to look at this we'd love your input!

[2020-03-21 18:07] pollygee opened #289 "Update Status for Users"
We currently have `deactivated_at` on the User.  This populates the "status" column on Users index and show page.

We also have `expiration` on the membership.  I think we don't need the `deactivated_at` anymore and the status should be populated based on `membership.expired?`.  We can then delete the `deactivated` at along with the `activate/deactivate` link on a user.

[2020-03-21 21:44] mark100net commented on #289
It really depends on the needs. What if they want to lock someone out for some reason (or for some limited period of time) but don't want to have to mess with their memberships?

With respect to the endpoint, that we shouldn't need. If we need to keep the `deactivated_at` (or just a `deactivated` boolean) we could manipulate that in `user.update`.

[2020-03-21 21:56] mark100net commented on #288
Seems like you don't have a link to the carriers index in that scenario.

When they want to issue a carrier aren't they going to want to go to the carriers index, search for one, then make a loan? Are they going to go to the Loans listing that often?

I think if you add Loans to your list in 3. and use Carriers for the image you posted that might work.

[2020-03-21 21:59] mark100net commented on #288
Also this issue should provide information about what is visible under what role and login status.

[2020-03-21 23:42] #287 closed

[2020-03-21 23:46] mark100net commented on #286
This is a function of screen resolution, height of table and height of individual's browser window. I'm not sure what this accomplishes other than adding unnecessary scrollbars in a limited number of cases. Unless I'm misunderstanding something.

[2020-03-21 23:49] mark100net commented on #283
Any error would only come up if they go to the checkout dialog (from carriers) and they select a member who cannot checkout any more. At least I believe that is the only way currently.

One way to prevent this (in addition to back-end checking) would be to exclude such members from the drop down.

[2020-03-21 23:50] mark100net commented on #284
We do not have a membership index. Do you mean the users index?

[2020-03-22 00:40] pollygee commented on #286
It's just on the pages where the table takes up the whole page or runs onto other pages.  There is no bottom of the table, it looks terrible.  I Just thought it would be nice to have a tiny bit of room at the bottom of the table before the bottom of the page so:

![Babywearing_and_Inbox_—_Personal_Email__873_messages__369_unread_](https://user-images.githubusercontent.com/10904005/77239694-19d6950

[2020-03-22 00:42] pollygee commented on #283
Yes I think that's correct.  I think that's good.  I'll edit the issue to reflect that solution.  Thanks.

[2020-03-22 00:46] pollygee commented on #284
Yes!  Thanks, I'll edit.

[2020-03-22 00:55] pollygee commented on #288
The carriers page will be the most used I believe.  It's the home route, and the logo in the corner is a link to it as well, but we can also add a logo for it.  I think this is the logo you took out....it was named "inventory" but I think we should  put it back and call it "carriers".  Its shown in the banner from the designer.

Have permissions not been handled in previous issues?  You mean for a

[2020-03-22 05:51] mark100net commented on #288
I mean if we are reorganizing all the menus we should be clear about who can do and see what.

[2020-03-22 06:48] mark100net commented on #286
So I guess you are referring to after you scroll to the bottom.

[2020-03-22 12:25] pollygee commented on #286
Right, sorry I thought that was implied with the part about the table reaching the bottom of the page.  So if the table is long enough to reach the bottom of the page, when you scroll to the bottom of the page there is no difference between the bottom of the page and the bottom of the table.  I just think there should be a little bit of space.

[2020-03-22 23:53] #285 closed

[2020-03-26 13:49] #282 closed

[2020-04-02 12:55] pollygee commented on #289
This has been resolved with another issue.

[2020-04-02 12:55] #289 closed

[2020-04-06 15:01] pollygee commented on #286
This is resolved by the PR.

[2020-04-06 15:01] #286 closed

[2020-04-08 03:16] #288 closed

[2020-04-09 22:39] pollygee opened #299 "Don't allow checkout to a member unless their agreements have been signed"
Members should not be allowed to checkout carriers if their agreements have not been signed.

When a volunteer/admin tries to checkout a carrier to a member and their agreements have not been signed, we should see an error message "User must sign their agreements before they can check out a carrier." or something similar.

[2020-04-09 22:44] pollygee opened #300 "Link to membership agreements on member page"
The "Carriers" icon shows up for members, and since that's their only page they can use, we want to remove the icon for members and only show it when you're logged in as a volunteer/admin.

Then we want to add the membership agreements link to the profile dropdown.

![Babywearing](https://user-images.githubusercontent.com/10904005/78946961-14bd8500-7a92-11ea-8bc4-e76efe3dd9d4.jpg)

[2020-05-14 05:52] ludamillion commented on #300
Currently due to the `menu_policy` the Carriers icon/link does not appear for members. This is current behavior. Which leaves us with the membership agreement link.

For the membership agreement link what link exactly are we talking about? Is there a way of ensuring that there is a membership agreement for a given organization?

I don't have the domain knowledge but it seems like if organizations

[2020-05-14 10:57] pollygee commented on #300
Hiiiiiii!!   How are you?  We've missed you, So good to see you :)

You're right the carriers icon was removed, maybe it got scooped up with some other work.

In taking another look, I see there's lots of missing info here, I'm so sorry!

Each organization creates their own membership agreements.  They can add/edit them, although we are told that they change them very rarely.  (So we will figure o

[2020-05-18 11:27] pollygee opened #317 "Default date to today in Checkin modal"
Carriers mostly get returned at meetings.  Volunteers will almost always be using the current date for returns, so defaulting to the current date will be helpful to them.

[2020-05-18 12:32] pollygee opened #318 "Add validations for the create an account page"
The fields on the sign up page don't have any format validations.

To help make sure we don't have typos we can add format validations to:
Email
Postal Code
Phone number

[2020-05-18 12:34] pollygee opened #319 "Pretty up the Quick Links menu"
The quick links area needs some styling.

![Babywearing_and_Mosaic_Basket_Tutorial_-_YouTube](https://user-images.githubusercontent.com/10904005/82213546-512a9f00-98e2-11ea-9eed-2869ac2867f7.jpg)

[2020-05-18 12:35] pollygee commented on #319
@ludamillion do you have any suggestions here for this?

[2020-05-18 13:07] ludamillion commented on #319
Sure thing. I'll look at it in more detail but I expect just some better spacing would be enough.

[2020-05-18 20:23] pollygee opened #320 "View Loans button in the banner links to /users"
Currently the "view loans" button in the banner links to /users.

Loans are listed under carriers.  The way we'd currently look at the loans is to look at all carriers and filter by "checked out".  Is there a way we could link the Loans button in the banner to this page with the filter on?

What are our other options?  We def don't want it linking to users, if we can't find a good solution we can

[2020-05-18 20:45] pollygee opened #321 "Restrict Volunteers abilities"
Volunteers currently have access to  the following but shouldn't:

1)  Add a carrier.  Will also need to remove the button in the banner.
2) Change user roles.  We should make this a display only for volunteers.
![Babywearing](https://user-images.githubusercontent.com/10904005/82257931-e6e81d80-9926-11ea-98cc-cb7275ba378e.jpg)

[2020-05-20 03:35] ludamillion commented on #319
If we properly apply the Bootstrap structuring/styling we get this. Personally I think this is fine. As long as we're using Bootstrap we might as well take advantage of it.

<img width="826" alt="Screen Shot 2020-05-19 at 11 33 15 PM" src="https://user-images.githubusercontent.com/1638226/82401992-4c243780-9a29-11ea-966d-42714b9540e1.png">

[2020-06-01 12:48] pollygee commented on #319
Sorry I missed this!  Sounds good to me @ludamillion  thanks.

[2020-06-03 03:44] #319 closed

[2020-06-10 19:25] cato-hga commented on #318
👋  I can work on this issue.

[2020-06-11 12:04] pollygee commented on #318
@cato-hga awesome thanks!!

[2020-06-12 11:58] pollygee opened #337 "Links on admin page are broken"
Organization and Categories links aren't working on the admin page

![Babywearing](https://user-images.githubusercontent.com/10904005/84500306-43b6c980-ac82-11ea-9ab3-9eb59355839e.jpg)

[2020-06-12 12:00] pollygee opened #338 "Carriers should not be shown on the admin page"
Carriers belong to an organization, so when we are on the admin page we should not see any carriers.

Currently midadlantic's carriers are showing on the admin page when you're logged in
![Babywearing](https://user-images.githubusercontent.com/10904005/84500532-bde74e00-ac82-11ea-8b38-a27e67afdac0.jpg)

[2020-06-15 00:06] #338 closed

[2020-06-15 00:08] #337 closed

[2020-06-16 23:16] cato-hga commented on #318
👋 Quick question.. For the phone number format, should I keep the default formate to an 11(1-813-843-2213) or a 10 digit(813-843-2213) number?

[2020-06-17 02:43] ludamillion commented on #300
Just a quick loopback. I'm still working on this. Not a ton of bandwidth these days between the new baby, work, and life during quarantine.

My approach so far is to allow agreements to have a `kind` attribute which is currently 'membership' or 'other'. Regular members than can only see membership agreements and can only sign them (i.e. not edit them). Seems to achieve the desired result.

[2020-06-17 16:30] cato-hga commented on #317
👋  I can work on this one.

[2020-06-17 20:38] pollygee commented on #300
I totally understand that!  Working with a toddler at home and that's keeping me super busy too!

I would have though that we could just let members have access to this same page we see now and just hide the `Edit` and `Destroy` buttons.  When a member just sees the two links they can click on each link and then "agree" to them.  But I could be missing something.  I think we disallowed this whole

[2020-06-17 20:48] mark100net commented on #300
@pollygee @ludamillion Yungchih and I are going to work on this tomorrow so @ludamillion if you want to PR if not ready for that just let us take over your branch so far that would be fine, thanks.

[2020-06-17 21:09] ludamillion commented on #300
I’ll push up what I have tonight. It sounds like it was overkill but some of it should be useful

[2020-06-18 00:04] pollygee commented on #300
Thanks @ludamillion!  I spoke with Mark this afternoon.  I think this issue is one of our last pieces that we really need to get in order before we  can hand this over to MAB and let them start using it to see how we're doing.  Other stuff is kind of "nice to have" but without this they can't really do much.
We do have other stuff if you find a little time to pitch in.  We'll also be adding other

[2020-06-18 00:06] pollygee commented on #317
Thanks @cato-hga

[2020-06-18 04:04] ludamillion commented on #300
So it looks like what I had done so far (minus the over engineered `kind` code) actually does do what we want it too. Or at least provides a good start. So I did open up a PR for it here https://github.com/rubyforgood/babywearing/pull/341

It's always good to actually have a project in front of it's intended users. I hope to be able to contribute some more.

[2020-06-18 04:32] #318 closed

[2020-06-18 04:33] #300 closed

[2020-06-18 04:40] #321 closed

[2020-06-26 02:49] #283 closed

[2020-06-28 05:38] #320 closed

[2020-06-28 05:39] #299 closed

[2020-06-29 00:19] #284 closed

[2020-07-02 13:21] mark100net commented on #317
@cato-hga I have some time today so I will take this one over thanks.

[2020-07-02 18:58] #317 closed

[2020-07-09 20:40] pollygee opened #358 "Filter broken on Loans link"
When I click on the `Loans` icon in the banner it's no longer filtering the carriers that are checked out.

The URL is https://midatlantic.stage.babywearing.exchange/carriers?with_state_in=checked_out
which seems to be correct but it's not filtering, all carriers including not checked out ones are displaying.

[2020-07-09 21:03] pollygee opened #359 "Add Membership Types to Quick links"
We need a way to get to Membeship types from the UI.  Probably best to add it to the `Quick Links`.

[2020-07-12 17:29] #359 closed

[2020-07-15 00:00] pollygee opened #363 "Change the role of "member" to "user""
Currently we have 3 roles:
Admin
Volunteer
Member

The role of "member" is confusing because it does *not* mean that the user has a current membership.

We want to change the name of the role to User to be less confusing.

[2020-07-15 00:05] pollygee opened #364 "Admin can change the wording in an email as well as the timing of these emails"
We want an admin of the group to be able to create the wording of emails they would like to send.

We should probably have options of when these emails would get sent.  Some times when we might be able to want to send emails would include
  -  when a member joins
  -  when a carrier is checked out
  - 1 week or 1 day before a carrier is due
  - 1 week or 1 day after a carrier has past it due dates

[2020-07-15 00:08] pollygee opened #365 "Clean up Carriers index page"
We have a lot of information about each carrier on the index page and it is a little busy.

We need to remove the following from the carriers' information:
  -  manufacturer
  -  model
  -  home location

Additionally we need to make the State bold so it stands out a little more from the other info.

[2020-07-16 13:39] #358 closed

[2020-07-16 19:20] #363 closed

[2020-07-16 19:50] mark100net commented on #364
For the frequency question on reminder emails, we can possibly add a few fields (three?) to the organization that would allow them to specify when emails are sent. Something like (with possible values):

    reminder_1: -7
    reminder_2: -1
    reminder_3: 1

In this example, the job would run once per day, and it would send out a reminder email to everyone with a carrier due in 7 days, in 1 day

[2020-07-16 19:58] mark100net commented on #365
@pollygee Did we want to keep these fields in the list view and just remove them from the icon view?

[2020-07-16 20:16] #365 closed

[2020-08-02 18:41] mark100net opened #373 "Password Reset Wrong Behavior on Nonexistent Email"
When you go to the forgot password form and enter an email that is not in the system you get this:

![password-reset](https://user-images.githubusercontent.com/1497779/89129719-58f6ea00-d4b4-11ea-9561-2087d8487e69.png)

Other than the obvious problem with the error message ("user...being saved"), it also leaks information. You can determine whether any given email is in our system by this means.

[2020-08-06 14:58] #373 closed

[2020-09-06 20:42] #364 closed